---
layout: base
---
{% include mode_switcher.html %}

{% assign my = site.my %}
<div class="row" id="about">
    <header id="title">
        <img src="{{ crturl }}images/me.png">
        <h1>{{ my.realName_cn }} | <small>{{ my.jobTitle | upcase }}</small></h1>
    </header>

    <section id="intro">
        <h2>째깍째깍!!</h2>
        <p>github  blog test github  blog test github  blog test</p>
        <p>github  blog test, github  blog test</p>
        <p>github  blog test</p>
    </section>

    <section id="skillsets">
        <h2>째깍악어는</h2>
        <ul id="frontend">
            <i class="fa fa-tv">프론트엔드</i>
            {% for skill in my.skills.frontend %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        <ul id="backend">
            <i class="fa fa-cog">백엔드</i>
            {% for skill in my.skills.backend %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        <ul id="tools">
            <i class="fa fa-wrench">개발툴</i>
            {% for skill in my.skills.tools %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="findme">
        <h2>항상 곁에 있어요</h2>
        <ul>
            <li><a href="{{ my.contact.github }}"><i class="fa fa-github"></i></a></li>
            <li><a href="{{ my.contact.qzone }}"><i class="fa fa-qq"></i></a></li>
            <li><a href="{{ my.contact.pinterest }}"><i class="fa fa-pinterest"></i></a></li>
        </ul>
    </section>

    <section id="action">
        <h2>자세하게</h2>
        <a href="http://ttcroc.com">째깍악어 홈페이지</a>
        <span>에서 더 자세히 보세요.</span><br/>
        또는 담당자에게 <a href="mailto:{{ my.contact.email }}">이메일</a>을 보내주세요.
    </section>

</div>
<!-- {% include disqus_load.html %} -->